body {
  font-family: Georgia, serif;
  background-color: #b2b2b2;
  margin: 0;
  padding: 0;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

/* Add your own custom styles here */
.search-bar {
  margin-left: 375px;
  margin-top: 50px;
  width: 275px;
}
